@import url(https://fonts.googleapis.com/css?family=Merriweather);

* {
	box-sizing: border-box;
}

body {
	background-color: white; 
	font-family: 'Merriweather', serif;
	width: 480px;
	max-width: 100%;
	margin: 0 auto;
	border: solid 1px black;
}

form {
	background-color: yellow;
	width: 100%;
}

h1 {
	margin: 0;
	color: #FEF6EB;
	text-align:center;
	font-size: 1.75em;
}

h2 {
	margin: 8px 0;
	color: #c25b56;
	text-align: 
}

header {
	width: 100%;
}

header h1 {
	background-color: #525564;
	padding: 20px;
	color: #FEF6EB;
}

header h2,
header p{
	text-align: center;
}

header p {
	padding: 0 15px;
	margin: 8px 0;
}

p {
	font-size: 1em;
}

hr{
	border: solid 2px black;
	width: 95%;
}

.newhr {
	border: solid 1px black;
	margin-top: 20px;
}

p,
label {
	color: #74828f;
}

fieldset {
	border: none;
	margin: 0 auto;
/*	padding: 5px;
*/}

label {
  display: block;
  margin: 15px 0;
}

label.light {
	display: inline;
	margin-bottom: 50px;
}

input::-webkit-input-placeholder {
    direction: rtl;
    text-align: right;
    font-style: italic;
    padding-right: 4px;
}

textarea {
	border: none;
	height: 75px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
	width: 100%;
	margin: 0 auto;
	background-color: rgb(254,246,235);
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="numeric"],
select[id="state"] {
	height: 35px;
}

input[id="zipcode"]{
	width: 45%;
}

select[id="state"]{
	width: 100%;
   	margin: 20 0;
   	border: 0;
    outline: 1px solid #CCC;
    padding: 0;
}

input[type="checkbox"],
input[type="radio"] {
	margin-bottom: 20px;
}

button {
	margin: 20px 0;
	width: 100%;
	height: 50px;
	padding: 0;
	background-color: #c25b56;
	border-radius: 5px;
	border: none;
	text-align: center;
}

.copyright {
	text-align: center;
	font-size: 1em;
}



@media (min-width: 760px) {

	body {
		max-width: 100%;
	}

	input[type="text"],
	input[type="email"],
	input[type="tel"],
	input[type="numeric"],
	select[id="state"],
	span {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}
































